<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="infoSection" type="InfoRecovery.Core.InfoRecoverySection, InfoRecovery.Core"/>
  </configSections>
  <infoSection>
    <jsonCollection>
      <jsonElement name="Build" 
                   path="..\\"/>
      <jsonElement name="Query" 
                   path="..\\"/>
    </jsonCollection>
  </infoSection>
</configuration>